body
{
	background-color: black;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.g-recaptcha
{
	padding-left: 350px;
}

a.clasa
{
	text-decoration: none;
transition: color 1s ease-in-out;
}

a.clasa:link
{
	color: blue;
}
a.clasa:visited
{
	color: blue;
}
a.clasa:hover
{
	color: yellow;
}

.cbalink
{
	display: none;	
}
#logo
{
	background-color: white;
	color: black;
	width: 980px;
	height: 100px;
	font-size: 90px;
	text-align: center;
	align: center;
	padding-top: 10px;
	border-radius: 25px;
	background: #ffffff;
	margin-bottom: 30px;
	margin-left: 10px;
}

a.link1
{
	color: #000000;
	text-decoration: none;
	transition: color 1s ease-in-out;
	display: block;
}

a.link1:link
{
	color: #000000;
}

a.link1:visited
{
	color: #000000;
}

a.link1:hover
{
	color: gray;
}

#footer
{
	clear: both;
	width: 980px;
	margin: 10px;
	height: 30px;
	background-color: #ffffff;
	color: black;
	border-radius: 25px;
	background: #ffffff;
	text-align: center;
	align: center;
	padding-top: 5px;
}